<style>
  html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  head {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .holder {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
  }

  .frame {
    width: 99%;
    height: 99%;
    margin: 0px;
    border-color: black;
    border-width: 3px;
    padding: 0px;
  }

  .bar {
    position: absolute;
    bottom: 1;
    background-color: black;
    width: 100%;
    height: 2.3%;
    margin: -1px;
    padding-top: 10px;
  }

  .topBar {
    position: absolute;
    top: 1;
    background-color: black;
    width: 100%;
    height: 1%;
    margin: 0px;
    padding-bottom: 10px;
  }

  .leftBar {
    position: absolute;
    bottom: 1;
    background-color: black;
    width: 2%;
    height: 100%;
    margin: 0px;
    padding-top: 10px;
  }

  .rightBar {
    position: absolute;
    right: 1;
    bottom: 1;
    background-color: black;
    width: 2%;
    height: 100%;
    margin: 0px;
    padding-top: 10px;
    margin: -1px;
  }
</style>
<body>
  <div class="holder">
    <iframe
      src="https://onedrive.live.com/embed?cid=638475548D7A2CA8&amp;resid=638475548D7A2CA8%217675&amp;authkey=AMQHjo5d6TLMdgI&amp;em=2&amp;wdAr=1.7777777777777777"
      class="frame"
      >Este é um apresentação do
      <a target="_blank" href="https://office.com">Microsoft Office</a>
      incorporado, da plataforma
      <a target="_blank" href="https://office.com/webapps">Office</a>.</iframe
    >
    <div class="bar"></div>
    <div class="leftBar"></div>
    <div class="rightBar"></div>
    <div class="topBar"></div>
  </div>
</body>
